<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag_list, value:@image.tag_list.to_s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to images_path, class: "btn btn-primary" do %>
	<i class="glyphicon glyphicon-circle-arrow-left"></i> Back
<% end %>
